body {
  font-family: 'Varela', sans-serif;
}

/*navbar*/
.header {
  background: url(../videos/welcome-experience.mp4);
}

.navbar {
  background-color: transparent;
}

.special-font {
  color: #800020;
  font-family: 'Concert One', cursive;
  text-shadow: 1px 1px #fff;
}

.navbar-toggler {
  border: 3px solid #000;
  background-color: #ffffff3a;
}

.navbar.scrolled {
  background-color: #0000009d;
  transition: background-color 500ms linear;
}

.nav .nav-link.active {
  background-color: #eeeeeeb2;
  color: #000;
}

.nav .nav-link:not(.active) {
  color: #ffffff;
  text-shadow: 1px 1px #000;
}

video {
  flex-shrink: 2;
  height: 70vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/*carousel*/
.carousel-fade .carousel-item {
  transition-duration: 1s;
}

.carousel-area {
  position: relative;
  top: 350px;
  height: 300px;
  width: 100%;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box,
.box2 {
  box-shadow: 2px 2px 2px #000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box {
  background-color: #f1ecec;
  height: 130px;
  width: 70%;
  margin-left: 180px;
}

.box2 {
  position: relative;
  top: -20px;
  right: 0px;
  background-color: #b1012d;
  height: 80px;
  width: 30%;
}

.carousel-item:nth-child(2) .box2 {
  background-color: #f3f37e;
}

.carousel-item:nth-child(3) .box2 {
  background-color: #E6B8B7;
} 

/*sobre a loja section*/
#sobre-a-loja .row {
  margin-top: 250px;
}

#sobre-a-loja .col-md-5 img {
  height: 500px;
  object-fit: cover;
  object-position: center bottom;
}

#sobre-a-loja .col-md-7 p,
#sobre-a-loja .col-md-7 ul li {
  font-size: 0.9em;
  text-align: justify;
}

/*md screen*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*carousel*/
  .carousel-area {
    top: 55vh;
    padding-right: 15px;
    padding-left: 15px;
  }

  .box p {
    font-size: 1em;
  }

  /*sobre-a-loja section*/
  #sobre-a-loja .col-md-7 p,
  #sobre-a-loja .col-md-7 ul li {
    font-size: 0.8em;
    text-align: justify;
  }
}

/*sm screen*/
@media screen and (min-width: 320px) and (max-width:767px) {
  video {
    height: 70vh;
  }
  
  .carousel-area {
    padding: 0;
  }

  .box {
    width: 90%;
    margin: 0 auto;
  }

  .box p {
    font-size: 0.8em;
  }

  .box2 {
   margin-left: 2%;
   top: -5px !important;
   padding: 0 4px;
   width: 50%;
   height: 60px;
  }

  .box2 p {
    font-size: 0.7em;
  }

  /*sobre-a-loja section*/
  #sobre-a-loja .col-md-7 {
    margin-top: 30px;
  }
} 

