body {
  font-family: 'Varela', sans-serif;
}

.navbar {
  background-color: #ccc;
}

.navbar .navbar-brand {
  font-weight: bold;  
}

.nav .nav-link.active {
  background-color: #eee;
  color: #000;
}

.nav .nav-link {
  color: #000;
}