body {
  font-family: 'Varela', sans-serif;
}

/*navbar*/
.header {
  background: url(../videos/welcome-experience.mp4);
}

.navbar {
  background-color: transparent;
}

.special-font {
  color: #800020;
  font-family: 'Concert One', cursive;
  text-shadow: 1px 1px #fff;
}

.navbar-toggler {
  border: 3px solid #000;
  background-color: #ffffff3a;
}

.navbar.scrolled {
  background-color: #0000009d;
  transition: background-color 500ms linear;
}

#navbar .nav .nav-link.active {
  background-color: #eeeeeeb2;
  color: #000;
}

#navbar .nav .nav-link:not(.active) {
  color: #ffffff;
  text-shadow: 1px 1px #000;
}

video {
  flex-shrink: 2;
  height: 70vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/*carousel*/
.carousel-fade .carousel-item {
  transition-duration: 1s;
}

.carousel-area {
  position: relative;
  top: 350px;
  height: 300px;
  width: 100%;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box,
.box2 {
  box-shadow: 2px 2px 2px #000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box {
  background-color: #f1ecec;
  height: 130px;
  width: 70%;
  margin-left: 180px;
}

.box2 {
  position: relative;
  top: -20px;
  right: 0px;
  background-color: #b1012d;
  height: 80px;
  width: 30%;
}

.carousel-item:nth-child(2) .box2 {
  background-color: #f3f37e;
}

.carousel-item:nth-child(3) .box2 {
  background-color: #E6B8B7;
} 

/*sobre a loja section*/
#sobre-a-loja .row {
  margin-top: 250px;
}

#sobre-a-loja .col-md-5 img {
  height: 500px;
  object-fit: cover;
  object-position: center bottom;
}

#sobre-a-loja .col-md-7 p,
#sobre-a-loja .col-md-7 ul li,
#eventos .row .col-md-4 p
{
  font-size: 0.9em;
}

#sobre-a-loja .col-md-7 p,
#sobre-a-loja .col-md-7 ul li {
  text-align: justify;
}

/*eventos section*/
#eventos,
#contato,
#codigo {
  background-color: #f1ecec;
}

#eventos .row .col-md-4 img {
  object-fit: cover;
}

#eventos .row .col-md-4 {
  height: 450px;
}

/*produtos section*/
.nav-cardapio button.nav-link:not(.active) {
  color: #000;
  background-color: #faf0f0;
}
.nav-cardapio button.nav-link.active {
  color: #000;
  background-color:#b1012d;
}

aside nav button:first-child {
  text-align: left;
  color: #fff !important;
  background-color: #800020 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  cursor: not-allowed !important;
}

.nav-cardapio button:nth-child(2),
.nav-cardapio button:nth-child(3) {
  border-radius: 0;
}

.nav-cardapio button:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-cardapio .nav-link:hover:not(:first-child) {
  background-color: #eb4a72 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.color-price {
  color: #b1012d;
}

.tab-pane .btn-group {
  height: 38px;
}

.tab-pane .btn-group input {
  width: 30px !important;
}

.tab-pane .btn-group button {
  width: 20% !important;
}

/*removemos o spin de aumento e diminuicao no input type number*/
input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

input[type="number"] {
  -moz-appearance: textfield;
}

/*area Pix section*/
.area-pix .cod-pix textarea{
  font-size: .8em;
  width: 100%;
  height: 100px;
}

.pix-number {
  border: none;
  resize: none;
}

#btnCopiar {
  cursor: pointer;
}

#codigo {
  overflow-x: hidden;
}


/*md screen*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*carousel*/
  .carousel-area {
    top: 55vh;
    padding-right: 15px;
    padding-left: 15px;
  }

  .box p {
    font-size: 1em;
  }

  /*sobre-a-loja section*/
  #sobre-a-loja .col-md-7 p,
  #sobre-a-loja .col-md-7 ul li,
  #eventos .row .col-md-4 p {
    font-size: 0.8em;
  }

  #sobre-a-loja .col-md-7 p,
  #sobre-a-loja .col-md-7 ul li {
    text-align: justify;
  }

  .btn-group {
    width: 78%;
    margin-bottom: 0.5em;
  }

}

/*sm screen*/
@media screen and (min-width: 320px) and (max-width:767px) {
  video {
    height: 70vh;
  }
  
  .carousel-area {
    padding: 0;
  }

  .box {
    width: 90%;
    margin: 0 auto;
  }

  .box p {
    font-size: 0.8em;
  }

  .box2 {
   margin-left: 2%;
   top: -5px !important;
   padding: 0 4px;
   width: 50%;
   height: 60px;
  }

  .box2 p {
    font-size: 0.7em;
  }

  /*sobre-a-loja section*/
  #sobre-a-loja {
    padding-bottom: 1em !important;
  }

  #sobre-a-loja .col-md-7 {
    margin-top: 30px;
  }

  /*eventos section*/
  #eventos {
    padding-top: 1em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  /*produtos section*/
  .btn-group {
    margin-right: 1em;
  }
  .nav-cardapio button {
    text-align: center !important;
  }
} 

